/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0px;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a, .dropdown-btn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 1s !important;
}
#dropButton{
    background-color:#111;
    border:none;
    outline:none;
}
#dropButton:hover{
    color: #f1f1f1
}
/* Main content */
.main {
    transition: .1s !important;
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
    transition: 1s !important;
  }

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
    text-decoration: none !important;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
html, body {
    overflow-x: hidden;
}
/* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

/* Style page content -  */
#main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
    width: 100%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

body{
    background-color: black !important;
    color: white;
    position: relative
}

#title{
    font-size: 60px;
    font-family: 'Gayathri', sans-serif;
    color: white;
    letter-spacing: 18px;
    padding-top: 15px;
    background-color: #111;
    text-align: center;
    
}
.intro{
    color: #999;
}
.homeImage{
    max-height: 100%;
    max-width: 100%;
}
.headerColor1{
    background-color: #111 !important;
}
.headerColor2{
    background-color: #111 !important;
}
.pageText{
    color: #999999;
    margin-top: 45px;
    text-align: justify;
    font-size: 18px;
    
}
#imageDescriptor{
    margin-top: 1px;
}
#bioDescriptor{
    text-align: justify;
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 18px;
}
#Education{
    color: white;
    
}
.resumeButton{
    background-color: black;
    border: none;
    color: white;
    padding: 0;
    margin: 0;
    font-size: 20px;
    outline:none;
    
}

#bioImage{
    margin-top: 6px;
    margin-bottom: 40px;
}
.collapsible {
    background-color: black;
    color: white;
    cursor: pointer;
    padding-bottom: 15px;
    width: 100%;
    padding-top: 15px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 28px;
    padding-left: 0;
    font-family: 'Roboto Condensed', sans-serif;
    border-bottom: 2px solid black;
    border-radius: 4px;
    outline: none !important;
}

.content {
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: black;
    color: #818181;
    text-align: justify-all;
    font-family: 'Roboto Condensed', sans-serif;
    border: none;
    border-radius: 3px;
    outline:none !important;
    
}
.education{
    margin-top: 60px;
    outline: none;
}
.downArrow{
    font-size: 10px;
    margin-bottom: 5px;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 10px;
    font-weight: bold;
    outline: none !important;
}
#authMessage{
    color: #333;
    margin-bottom: 50px;
    text-align: center;
}
#sculptureTitle{
    color: white;
    text-align: right;
    padding-bottom: 30px;
    text-decoration: underline;
}
.imageGrid{
    text-align: center; 
    margin-bottom: 40px;
}
#adminTitle{
    color: white !important;
}
.labels{
    color:white;
}
#email{
    padding-right: 28px;
}
.imageButton{
    padding: 3px;
    border-radius: 0px;
}
